<div class="search" id="search">
  <div class="input">
    <input type="search" id="search-input" placeholder="{{ theme.search_label }}" aria-label="{{ theme.search_label }}">
  </div>
  <div id="search-result" aria-live="polite"></div>
</div>
