{% extends "_layout.njk" %}
{% import "_partial/archive.njk" as archivet with context %}

{% block title %}
  {{ page.tag }} · {{ config.title }}
{% endblock %}

{% block main %}
    {{ archivet.render() }}
{% endblock %}
