<nav class="main-nav">
  <ul class="main-nav-list syuanpi tvIn">
    <li class="menu-item">
      <button type="button" id="search-btn" aria-label="{{ theme.search_label }}">
        <i class="iconfont icon-search"></i>
      </button>
    </li>
  {% for name, url in theme.menu %}
  {% if name == 'tags' %}
    {% set link = 'javascript:;' %}
  {% else %}
    {% set link = url_for(url) %}
  {% endif %}
    <li class="menu-item">
      <a href="{{ link }}" id="{{ name }}">
        <span class="base-name">
          {{ __('nav.' + name) }}
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
