{% macro render() %}
  <div class="archive syuanpi fadeInRightShort" id="archive">
    {% set posts = page.posts | toarray %}
    {% for post in posts %}
        <div class="archive-post">
          <div class="archive-post-content">
            {% if post.excerpt %}
              {{ post.excerpt }}
            {% else %}
              {{ post.content }}
            {% endif %}
          </div>
          <div class="archive-post-info">
            <time class="archive-post-time">
              {{ date(post.date, 'YYYY-MM-DD') }}
            </time>
            <a  class="archive-post-link" href="{{ url_for(post.path) }}">
              {{ post.title }}
            </a>
          </div>
        </div>
    {% endfor %}
  </div>
  {% include "_partial/pagenum.njk" %}
{% endmacro %}
