{% macro render(post) %}
  <article class="
  post
  {% if is_post() %} is_post {% endif %}
  ">
    <header class="post-header">
      <div class="post-time syuanpi fadeInRightShort back-1">
        <div class="post-time-wrapper">
          <time class="post-time-inner">{{ full_date(post.date, 'YYYY-MM-DD') }}</time>
          {% if post.updated and (full_date(post.date, 'YYYY-MM-DD') != full_date(post.updated, 'YYYY-MM-DD')) %}
          <span class="post-updated">更新于 <time>{{ full_date(post.updated, 'YYYY-MM-DD') }}</time>
          <span class="post-updated-views-separator"> | </span>
          </span>
          {% endif %}

          <span class="post-views" data-view-path="{{ post.path }}">观测到 <span class="post-view-count">0</span> 次访问</span>
        </div>
      </div>
      <h1 class="post-title syuanpi fadeInRightShort back-2">
        {% if is_post() %}
          {{ post.title }}
        {% else %}
          <a href="{{ url_for(post.path) }}">{{ post.title }}</a>
        {% endif %}
      </h1>
    </header>
    <div class="post-content syuanpi fadeInRightShort back-3">
      {% if is_post() %}
        {{ post.content }}
      {% else %}
        {% if post.excerpt %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content }}
        {% endif %}
      {% endif %}
    {% if post.excerpt and is_home() %}
      <p class="content-link">
        <a href="{{ url_for(post.path) }}#more">
          <span>{{ __('page.readmore') }}</span>
        </a>
      </p>
    {% endif %}
    </div>
    {% set tags = post.tags | toarray %}
    {% if tags.length %}
      <div class="post-tags syuanpi fadeInRightShort back-3">
      {% for tag in tags %}
        <a href="{{ url_for(tag.path) }}">{{ tag.name }}</a>
      {% endfor %}
      </div>
    {% endif %}
    {% if is_post() %}
      {% include "_partial/_post/copyright.njk" %}
    {% endif %}
  </article>
  {% if is_post() %}
    {% include "_partial/_post/toc.njk" %}
    <img class="post-view-beacon" src="/api/read/{{ post.path }}" alt="" hidden>
    {% include "_partial/pagenum.njk" %}
    {% include "_partial/_post/comments.njk" %}
  {% endif %}
{% endmacro %}
